<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pl.gassystem"
    android:versionCode="4"
    android:versionName="1.6">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />


    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 发送消息 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 阅读消息 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 写入消息 -->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!-- 接收消息 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 在SD卡中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 向SD卡写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 显示系统窗口 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 管理蓝牙设备的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 使用蓝牙设备的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- 振动、闪光灯、摄像头 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="主菜单"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GroupInfoStatisticActivity" />
        <activity android:name=".CopyDetailsActivity" />
        <activity android:name=".ExportExcelActivity" />
        <activity android:name=".ImportExcelActivity" />
        <activity
            android:name=".BookInfoActivity"
            android:label="@string/title_activity_book_info"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".BookInfoUpdateActivity"
            android:label="@string/title_activity_book_info_update"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".GroupInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".GroupInfoUpdateActivity"
            android:label="@string/title_activity_group_info_update"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".CopyGroupActivity"
            android:label="@string/title_activity_copy_group"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".CopyOneActivity"
            android:label="@string/title_activity_copy_one"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".CopyingActivity"
            android:label="@string/title_activity_copying"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".CopyResultActivity"
            android:label="@string/title_activity_copy_result"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".CopyDataDetailActivity"
            android:label="@string/title_activity_copy_detail"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".CopyDataICRFDetailActivity"
            android:label="@string/title_activity_copy_detail"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name="com.pl.bluetooth.BluetoothChat"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_device_list"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="com.pl.bluetooth.FullScreen"
            android:parentActivityName="com.pl.bluetooth.BluetoothChat"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pl.bluetooth.BluetoothChat" />
        </activity>
        <activity
            android:name=".GroupBindActivity"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".MaintenanceActivity"
            android:label="@string/title_activity_maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".SelectMeterActivity"
            android:label="@string/title_activity_select_meter"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".InputComNumActivity"
            android:label="@string/title_activity_input_com_num"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".DataDownloadActivity"
            android:label="@string/title_activity_data_download"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".CopyPhotoActivity"
            android:label="@string/title_activity_copy_photo"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".InputPhotoComNumActivity"
            android:label="@string/title_activity_input_photo_com_num"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />


        <activity
            android:name=".SetUpdateActivity"
            android:label="@string/title_activity_set_update"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name="com.pl.qu.QRActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/qr_activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".SetCopyTimeActivity"
            android:label="@string/title_activity_set_copy_time"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name=".SHCmdActivity"
            android:label="@string/title_activity_shcmd"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />
        <activity
            android:name="com.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CopySetMjcActivity"
            android:label="@string/title_activity_copy_set_mjc"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />

        <activity android:name=".OtherFunctionActivity" />
        <activity android:name=".userinfo.XiNingUserInfoImportActivity" />


        <activity
            android:name=".CopyResultActivityWarnBig"
            android:label="@string/title_activity_copy_result"
            android:screenOrientation="portrait"
            android:theme="@style/mainTitleBar" />


        <!--集中器抄表-->
        <activity android:name=".activity.ct.CtConcentratorListActivity" />
        <activity android:name=".activity.ct.CtCopySituationActivity" />
        <activity android:name=".activity.ct.CtShowBookListCopyDataActivity" />
        <activity android:name=".activity.ct.CtCopyDataBookDetailActivity" />
        <activity android:name=".activity.ct.CtNetworkingActivity" />
        <activity android:name=".activity.ct.CtMoveBookActivity" />
        <activity android:name=".activity.ct.CtCopyingActivity" />
        <activity android:name=".activity.ct.CtCopyBookChooseActivity" />
        <activity android:name=".activity.ct.CtCopyBookActivity" />
        <activity android:name=".activity.ct.CtShowBookListCopyDataICRFActivity" />

        <!--杭天抄表-->
        <activity android:name=".activity.ht.HtCopyingActivity" />
        <activity android:name=".activity.ht.HtBookListActivity" />
        <activity android:name=".activity.ht.HtChangeBookNoOrCumulantActivity" />
        <activity android:name=".activity.ht.HtSetBookParameterActivity" />
        <activity android:name=".activity.ht.HtMaintenanceActivity"/>
        <activity android:name=".activity.ht.HtChooseBooksActivity"/>

        <!--界面重构-->
        <activity android:name=".activity.LogActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.DataManageActivity" />
        <activity android:name=".activity.SetRunModeActivity" />


    </application>
</manifest>
